*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* nvbar */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
    margin: 20px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 12px;
    position: relative;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
    color: aqua;
}
/* heder */
.container{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.header{
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    animation-name: banner;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes banner{
    0%{
      background-color: #14213d;
    }
    25%{
      background-color: #4b4b4b;
    }
    50%{
      background-color: #2c2c54;
    }
    75%{
      background-color: #1e272e;
    }
    100%{
      background-color: #14213d;
    }
  } 
.head-button button{
    font-size: medium;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: red;
}
.head-img img{
    width: 450px;
    margin-top: 30px;
    margin-right: 10px;
}
.head-title{
    color: white;
    margin: 50px;
    font-size: 20px;
}
.head-title p{
    margin: 10px;
}
/* navigation */
.nav-banner{
    width: 200px;
    height: 200px;
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color:black;
}
.nav-title{
    width: 150px;
    text-align: center;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
}
.a{
    text-decoration: none;
    color: black;
}
.nav-title:hover{
    background-color: red;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* card menu */
.card-item{
    width: 300px;
    margin-bottom:50px ;
}
.card-item img{
    width: 300px;
}
.card-item button{
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.card-item p{
    margin-left: 10px;
}
.icon{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.card-ti{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.card-com{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.icon{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.card-menu{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
footer{
    background-color: black;
    height: 400px;
}
.footer-title{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 100px;
}
hr{
    margin: 50px 100px 50px 100px;
}
.footer-navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.footer-navbar ul li a{
    text-decoration: none;
    color: white;
}
.footer-navbar ul li a:hover{
    color: cyan;
}

